.sect-title1 {
        font-size: 40px;
        line-height: 1.17;
     }

 .brand-bg1 {
   background: url(../img/brand/brand-bg-1.png) no-repeat;
   background-size: contain;
   background-position: center;
   padding-top: 100px;
   padding-bottom: 60px;
   position: relative;
   z-index: 1;
   margin-top: -50px;
 }
 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .brand-bg1 {
     padding-bottom: 30px;
   }
 }
 @media (max-width: 767px) {
   .brand-bg1 {
     padding-bottom: 30px;
   }
 }

 
 /* .section-padding{
  padding:60px 0;
  } */
.brand-carousel {
   margin-top: 3%;
   
}


.home-company-area {
   padding-top: 130px;
   padding-bottom: 130px
}


.home-company-area .company-content .company-tittle h2 {
   margin-bottom: 20px;
   font-size: 40px
}

.home-company-area {
   padding-top: 50px;
   padding-bottom: 50px
}


.home-company-area .company-content .company-tittle h2 {
   font-size: 25px
}

.home-company-area {
   padding-top: 50px;
   padding-bottom: 50px
}

.home-company-area .company-img img {
   width: 100%
}

.home-company-area .company-content .company-tittle h2 {
   font-size: 25px
}


.home-company-area {
   padding-top: 100px;
   padding-bottom: 100px
}


.home-company-area .company-content .company-tittle h2,
.section-title h2 {
   font-size: 28px;
}

.home-case .case-list .single-case .content {
   padding: 20px
}

.home-case .case-list .single-case .content h3 {
   font-size: 19px
}

.align-items-center {
   -moz-box-align: center !important;
   align-items: center !important
}

.Service-div{
   height: 100px;
}



.section-title .bar {
   height: 4px;
   width: 85px;
   background: #F47f20;
   margin: 20px auto 0;
   position: relative;
   border-radius: 5px;
   overflow: hidden;
 }
 
 .section-title .bar::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 5px;
   background: #ffffff;
   -webkit-animation-duration: 2s;
           animation-duration: 2s;
   -webkit-animation-timing-function: linear;
           animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
   -webkit-animation-name: MOVE-BG;
           animation-name: MOVE-BG;
 }
 @-webkit-keyframes MOVE-BG {
   from {
     -webkit-transform: translateX(0);
             transform: translateX(0);
   }
   to {
     -webkit-transform: translateX(85px);
             transform: translateX(85px);
   }
 }
 
 @keyframes MOVE-BG {
   from {
     -webkit-transform: translateX(0);
             transform: translateX(0);
   }
   to {
     -webkit-transform: translateX(85px);
             transform: translateX(85px);
   }
 }

 .Service-div{
   height: 300px;
}

.black-color{
    color: #424143;
    font-size: 20px;
    text-align: start;
}


.single-price {
   text-align: center;
   background: #424143;
   transition: .7s;
   margin-top: 20px;
 }
 .single-price h3 {
   font-size: 25px;
   color: #424143;
   font-weight: 600;
   text-align: center;
   margin: 0;
   margin-top: -80px;
   font-family: poppins;
   color: #fff;
 }
 .single-price h4 {
   font-size: 48px;
   font-weight: 500;
   color: #fff;
 }
 .single-price h4 span.sup {
   vertical-align: text-top;
   font-size: 25px;
 }
 .deal-top {
   font-size: 16px;
   text-transform: uppercase;
   padding: 136px 24px 0;
 }

 .deal-bottom {
   padding: 10px 16px 0;
 }
 .deal-bottom ul {
   margin: 0;
   padding: 0;
 }
 .deal-bottom  ul li {
   font-size: 16px;
   color: #fff;
   font-weight: 300;
   margin-top: 16px;
   border-top: 1px solid #E4E4E4;
   padding-top: 16px;
   list-style: none;
 }
 .btn-area a {
   display: inline-block;
   font-size: 18px;
   color: #fff;
   background: #F47f20;
   padding: 8px 64px;
   margin-top: 32px;
   border-radius: 4px; 
   margin-bottom: 40px;
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
 }

 .link-area
 {
   position:fixed;
   bottom:20px;
   left:20px;  
   padding:15px;
   border-radius:40px;
   background:tomato;
 }
 .link-area a
 {
   text-decoration:none;
   color:#fff;
   font-size:25px;
 }
 
 .Service1-div{
   height: 1250px;
 }


 .product-img{
  height: 285px;
  max-width: 100%;
 }

 .slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.team-thumb img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}
.cards {
  margin: 0 auto;
  float: left;
  text-align: center;
	display: -webkit-flex;
	display: flex;
  border-radius: 10px;
	-webkit-justify-content: center; 
  justify-content: center;
  -webkit-flex-wrap: wrap; 
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
  background-color:  #424143;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; */
  box-sizing: border-box; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cards:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}
.card-title{
    color: #E4E4E4;
    font-size: 30px;
}
.thumb {
	margin-bottom: 15px;
}
.thumb:last-child {
	margin-bottom: 0;
}
/* CSS Image Hover Effects: https://www.nxworld.net/tips/css-image-hover-effects.html */
.thumb 
figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.thumb 
figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.Service1-div {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}

.img-radius{
  border-radius: 20px !important;
}


.aveenir-orange-color{
  color: #424143;
}




@media only screen and (max-width: 768px) {
  .logo-area{
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
   }
}


.fot-list a{
  padding-right: 5px !important;
}

.pf-btn{
  background: #F47f20 !important;
}
